
.card {
    background-color: #b0e0e6;
    height: auto;
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.left {
    font-size: 2.5rem;
    color: #4c525a;
    line-height: 1.3;
}

.right {
    display: flex;
    justify-content: center;
}

.greenHeading {
    color: #00b289;
}