
.footer {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 0 1.2rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    line-height: 2;
    list-style-type: none;
}