
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100vw;
    background-color: white;
    z-index: 1000;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .ul {
    display: none;
  }


  .button {
    display: none;
  }

  @media (width > 768px) {
    .header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 10%;
      max-width: 70rem;
      margin-left: auto;
      margin-right: auto;
    }

    .ul {
      display: inline-block;
    }

    .hamburger {
      display: none;
    }

    .ul li {
      font-weight: 500;
      font-size: 16px;
      color: black;
      text-decoration: none;
    }
 

    .logo {
      margin-right: auto;
    }
  
    
    .nav_links {
      list-style: none;
    }
    
    .ul li {
      display: inline-block;
      padding: 0 20px;
    }
    
    .ul li a {
      transition: all 0.3s ease 0s;
    }

    .button {
      display: flex;
    }
  }